.cardDescWrapper{
	border-radius: 10px;
	position: relative;
	cursor: pointer;
	background-color: white;
	padding:20px;
}

.cardDescWrapper .cardImg{
	height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	padding:20px;
}

.cardDescWrapper img{
	max-width: 100%;
	max-height: 100%;
}

.cardDescWrapper .cardDesc{
	padding:20px 20px 10px 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height:calc(100% - 200px);
	position: relative;
	font-size: 14px;
}

.cardDesc p{
	font-size: 16px;
}

.cardDescWrapper .cardFooter{
	margin-top:10px;
	font-size: 15px;
}

.cardDescWrapper .icon{
	position: absolute;
}

.cardDescWrapper .arrow{
	top:10px;
	right:5px;
}

.cardDescWrapper .edit,.cardDescWrapper .add{
	top:45px;
	right:5px;
}

.cardDescWrapper .delete{
	top:90px;
	right:5px;
}

.cardDescWrapper .deleteIcon{
	color:red;
}

.cardDescWrapper .addIcon{
	color:#1976d2;
}

.cardDescWrapper .category{
	position: absolute;
	top:0;
	left:0;
	background-color: blue;
	color:white;
	padding:4px;
	font-size: 14px;
	border-radius: 5px;
	text-align: center;
}

.numberOfVolunteersRequired{
	position: absolute;
	height:30px;
	width:30px;
	border-radius: 50%;
	top:15px;
	right:15px;
	background-color: purple;
	color:white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.numberOfVolunteersFull{
	position: absolute;
	height:30px;
	border-radius: 20px;
	padding:0 10px;
	top:15px;
	right:15px;
	background-color: purple;
	color:white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.volunteerWrapper{
	display: flex;
	width:100%;
	flex-wrap: wrap;
	margin-top:10px;
}

.volunteer{
	padding:5px;
	border-radius: 10px;
	background-color: purple;
	color:white;
	font-size: 13px;
}

.volunteer+.volunteer{
	margin-left: 10px;
}

.btn{
	border-radius: 4px;
	min-width: 100px;
	height: 50px;
	cursor: pointer;
	font-size: 14px;
}

.btn+.btn{
	margin-left: 10px;
}

.deleteBtn{
	color:white;
	background-color: red;
	border:none;
}

.cancelBtn{
	color:black;
	background-color: white;
	border:1px solid black;
}

.sendBtn{
	color:white;
	background-color: #28a745;
	border:none;
}

.btnWrapper{
	display: flex;
	justify-content: center;
	margin-top:20px;
}

.arrowIcon{
	position: absolute !important;
	top:10px;
	right:10px;
}